@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1320px;
    padding: 30px;
    margin: 0 auto;
}

#sec-1 {
    height: 600px;
    background: #A1E2EB;
    display: flex;
    justify-content: space-between;
    background-image: url(../images/header-1.svg);
    background-position: right;
    background-repeat: no-repeat;
}

.sec-1 {
    padding-left: 50px;

    .btns-1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 40px;

        button {
            width: 241px;
            padding: 25px 0;
            background: #FFFFFF;
            border-radius: 13px;
            border: 2px solid #FFFFFF;
            font-weight: 700;
            font-size: 25px;
            line-height: 130%;
            /* or 32px */
            text-align: center;


            color: #2D2D2D;
        }

        button:hover {
            transition: 0.5s;
            font-weight: 700;
            font-size: 25px;
            line-height: 130%;
            /* or 32px */


            color: #FFFFFF;
            background-color: transparent;
            border: 2px solid #FFFFFF;
            border-radius: 13px;
        }
    }

    .p-2 {
        h1 {
            padding: 130px 0 3px;
            font-weight: 700;
            font-size: 80px;
            line-height: 130%;
            /* identical to box height, or 104px */


            color: #FFFFFF;
        }

        h2 {
            white-space: nowrap;
            font-weight: 700;
            font-size: 63px;
            line-height: 130%;
            /* identical to box height, or 82px */


            color: #FFFFFF;
            padding-bottom: 60px;
        }
    }
}

.sec-2beg {
    display: flex;
    align-items: flex-end;

    h1 {
        font-weight: 700;
        font-size: 40px;
        line-height: 130%;
        /* identical to box height, or 52px */

        letter-spacing: 0.03em;

        color: #000000;
    }

    p {
        padding: 0 10px 0 20px;
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        /* identical to box height, or 21px */

        letter-spacing: 0.03em;

        color: #000000;
    }
}

.sec-2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 32px;

    .card {
        p {
            text-align: center;
            max-width: 311px;
            padding-top: 20px;
            font-weight: 600;
            font-size: 18px;
            line-height: 130%;
            /* or 23px */

            letter-spacing: 0.03em;

            color: #000000;
        }

        img {
            background-color: #FBFBFB;
            border-radius: 20px;
        }
    }

    .p1 {
        padding-bottom: 58px;

    }

    .p2 {
        padding-bottom: 40px;

    }

    .pol1 {
        p {
            text-align: start;
        }
    }
}

.card-3 {
    img {
        border-radius: 20px;
    }

    .love {
        display: flex;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 10px;

        p {
            font-weight: 600;
            font-size: 20px;
            line-height: 130%;
            /* identical to box height, or 26px */

            letter-spacing: 0.03em;

            color: #FF32A1;


        }

        h1 {
            font-weight: 600;
            font-size: 30px;
            line-height: 130%;
            /* identical to box height, or 39px */

            letter-spacing: 0.03em;

            color: #000000;
        }

        h3 {
            font-weight: 500;
            font-size: 20px;
            line-height: 130%;
            /* identical to box height, or 26px */

            letter-spacing: 0.03em;
            text-decoration-line: line-through;

            color: #8B8B8B;
            padding: 0 30px;
        }
    }


    p {
        max-width: 253px;
        font-weight: 500;
        font-size: 16px;
        line-height: 130%;
        /* or 21px */

        letter-spacing: 0.03em;

        color: #3A3A3A;
    }
}

.skidka {
    background: linear-gradient(262.69deg, #CA4ACB -0.43%, #F088F2 104.36%);
    display: flex;
    align-items: center;

    .klop-1 {
        padding-left: 20px;

        input {
            width: 473px;
            padding: 26.5px;
            border: none;
            margin: 46px 0 30px;
            color: #6C6C6C;
            background: #FFFFFF;
            border-radius: 25.1468px;
        }

        button {
            background: transparent;
            border: 2.39494px solid #FFFFFF;
            border-radius: 25.1468px;
            font-weight: 700;
            font-size: 28.7392px;
            line-height: 120%;
            /* identical to box height, or 34px */

            letter-spacing: 0.03em;

            color: #FFFFFF;
            padding: 21px 95px;
        }

        h1 {
            font-weight: 700;
            font-size: 90px;
            line-height: 120%;
            /* or 108px */

            letter-spacing: 0.03em;

            color: #FFFFFF;
        }

        h2 {
            font-weight: 700;
            font-size: 48px;
            line-height: 120%;
            /* or 108px */

            letter-spacing: 0.03em;

            color: #FFFFFF;
        }
    }
}

.sec-4 {
    h1 {
        font-weight: 700;
        font-size: 40px;
        line-height: 120%;
        /* identical to box height, or 48px */

        letter-spacing: 0.03em;

        color: #000000;

    }

    .ims-2 {
        padding-top: 21px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 25px;
    }

}

.sec-1-r {
    display: none;
    background-image: url(../images/bgc-1-r.png );
    background-size: 100vw;
    background-repeat: no-repeat;
    padding: 30px;

    .p-2-r {
        h1 {
            font-weight: 700;
            font-size: 28px;
            line-height: 130%;
            /* or 36px */


            color: #FFFFFF;
        }

        h2 {
            font-weight: 700;
            font-size: 18px;
            line-height: 130%;
            /* or 23px */


            color: #FFFFFF;
        }
    }

    .btns-1-r {
        padding-top: 25px;

        button {
            font-weight: 700;
            font-size: 16px;
            line-height: 130%;
            /* identical to box height, or 21px */


            color: #2D2D2D;

            background: #FFFFFF;
            border-radius: 5px;
            padding: 10px 20px;
            border: 1px solid white;
        }

        button:hover {
            transition: 0.5s;
            background: transparent;
            color: white;
        }
    }
}

@media (max-width: 400px) {
    nav {
        display: none;
    }

    #sec-1 {
        display: none;
    }

    .sec-1-r {
        display: block;
    }

    .sec-2 {
        grid-template-columns: repeat(2, 1fr);

        img {
            width: 100%;
        }

        .card {
            p {
                font-weight: 600;
                font-size: 14px;
                line-height: 130%;
                /* or 18px */

                letter-spacing: 0.03em;

                color: #000000;

            }
        }
    }

    .sec-2beg {
        h1 {
            text-align: center;
            font-weight: 700;
            font-size: 18px;
            line-height: 130%;
            /* or 23px */

            letter-spacing: 0.03em;

            color: #000000;
        }

        p {
            display: none;
        }

        img {
            display: none;
        }
    }

    .skidka {
        padding: 20px 0 30px;

        img {
            display: none;
        }

        .klop-1 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h1 {
                font-weight: 700;
                font-size: 40px;
                line-height: 155%;
                /* or 62px */

                text-align: center;
                letter-spacing: 0.03em;

                color: #FFFFFF;

            }

            h2 {
                font-size: 30px;
            }

            button {
                padding: 0px;
                padding: 19px 0;
                text-align: center;
                width: 100%;
                font-weight: 700;
                font-size: 18px;
                line-height: 120%;
                /* identical to box height, or 22px */

                letter-spacing: 0.03em;

                color: #FFFFFF;
                border: 2px solid #FFFFFF;
                border-radius: 11px;
            }

            input {
                height: 40px;
                background: #FFFFFF;
                border-radius: 11px;
                padding: 0px;
                width: 100%;
                padding-left: 10px;
            }
        }
    }

    .sec-4 {
        h1 {
            text-align: center;
            font-weight: 700;
            font-size: 18px;
            line-height: 130%;
            /* or 23px */

            letter-spacing: 0.03em;

            color: #000000;
        }

        .ims-2 {
            img {
                width: 215px;
                height: 221px;
            }
        }
    }
}

@media (max-width:350px) {
    .sec-2 {
        grid-template-columns: 1fr;
    }
}